body {
  width: 90%;
  margin: 10px auto;
  color:white;
  background: #164277; /* Old browsers */
background: -moz-linear-gradient(top,  #164277 33%, #c42542 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#164277), color-stop(100%,#c42542)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #164277 33%,#c42542 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #164277 33%,#c42542 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #164277 33%,#c42542 100%); /* IE10+ */
background: linear-gradient(to bottom,  #164277 33%,#c42542 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#164277', endColorstr='#c42542',GradientType=0 ); /* IE6-9 */
background-attachment:fixed;
height:100%;
}

h1 {
  text-align: center;

}

form#lists {
  float: left;
}
form#tasks {
  overflow: auto;
}

div#new-lists {
  float: left;
  max-width: 40%;
  margin: 0 10% 0 0;
}
div#new-tasks {
  overflow: auto;
  max-width: 40%;
}

div#new-lists ul li:hover {
  cursor: pointer;
  color: #0088cc;
}
form input {
  color:black;
}






