body {
  width: 90%;
  margin: 10px auto;
}

h1 {
  text-align: center;
}

form#lists {
  float: left;
}
form#tasks {
  overflow: auto;
}

div#new-lists {
  float: left;
  max-width: 40%;
  margin: 0 10% 0 0;
}
div#new-tasks {
  overflow: auto;
  max-width: 40%;
}

div#new-lists ul span:hover {
  cursor: pointer;
  color: #0088cc;
}




